@import "~styles/variables"

.details-body
    height: 80vh
    width: 100%
    display: flex
    flex-grow: 1
    padding: 2vh 1vw
    div
        display: flex
        flex-direction: column
        width: 50%
    .details-body__par
        text-transform: uppercase
        color: $almost-black
    .details-body__par--grey
        color: $cool-grey

.details-body__column--right
